"Music is life. Music defines peoples' experience on this planet. Name one time in your life that wasn't punctuated by the music you listened to at the time. When people are down, they listen to music that commiserates that emotion. When people are amped up, they listen to more upbeat, loud songs." <i>Mark Hoppus</i>

<br><br>

I made a massive playlist of all the songs that have ever had an impact on my life. This playlist took me a lot of time to put together and I enjoy sharing with others. I look at it like a diary of songs that references parts of my life from when I was a wee lad to now. :)

<br><br>

<center>
<iframe src="https://open.spotify.com/embed/user/1238746217/playlist/1OIXmmITyLn2vgS4D1NtnA" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</center>